.tip-calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tip {
  display: flex;
  flex-direction: column;
}

.results {
  white-space: pre;
}
